* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background-image: url('fantastic.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.home {
    display: inline;
    justify-content: space-between;
}

.left {
    display: inline-block;
    /* color: rgb(29, 21, 18); */
    font-size: 20px;
    font-weight: bolder;

}

.left div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;

}

.right {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    /* margin-right: 100px; */
    margin-top: 8px;
    height: 30px;
    text-align: right;
}

button {
    border: none;
    color: black;
    padding: 10px 27px;
    align-items: center;
    text-decoration: none;
    display: flex;
    font-size: 13px;
    margin: 2px 0px;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
    background-color: rgb(214, 198, 198);
    cursor: pointer;
}

.middle {
    height: 40px;
    display: inline-block;
    width: 700px;
    margin-left: 100px;
}

.navbar {
    display: flex;
    width: 100%;
    padding: 30px;
    list-style: none;
    align-items: end;
    justify-content: end;
    gap: 40px;

}


.navbar li a {
    text-decoration: none;
    color: red;

}

.navbar li a:hover {
    text-decoration: underline;
    color: rgb(15, 105, 165);
    font-size: 15px;
}

.left img {
    width: 60px;
    border-radius: 14%;
    display: block;
    margin-left: 100px;
}

.last {
    display: inline-block;
    height: 350px;
    margin-top: 125px;
    /* border:5px solid red; */
    background-color: transparent;
    width: 450px;
    margin-right: 30px;
    margin-left: 625px;
    background-color: rgb(221, 174, 108);
    border-radius: 5%;
}

.last form {
    display: inline-block;
    padding: 20px;

}

.last h2 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.inputbox1,
.inputbox3,
.inputbox4,
.inputbox2 {
    padding: 10px;
    margin-left: 50px;
}

.inputbox1,
.inputbox3,
.inputbox2{
    width: 290px;
    border-radius: 27px;

}

.inputbox3,
.inputbox2,
.inputbox4{
    margin-top: 10px;
}
.button123 {
    border: none;
    color: black;
    padding: 10px 27px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    margin-top: 30px;
    margin-left: 50px;
    /* margin-right: 130px; */
    border-radius: 50px;
    width: 290px;;
}

.button123:hover {
    background-color: rgb(214, 198, 198);
    cursor: pointer;
}

@media (max-width: 450px) {
    .menu-toggle {
      display: block;
    }
  
    .left {
      display: none;
      flex-direction: column;
      align-items: flex-end;
    }
  
    .menu-toggle:checked ~ .left{
      display: flex;
    }
  
    .hamburger {
      transform: rotate(0deg);
    }
  
    .hamburger:before {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    .hamburger:after {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }



  /* about */

.about{
    margin-top: 100px;
}
.image img{
    width: 370px; /* Makes the image fully occupy the container */
    height: auto; /* Keeps the aspect ratio of the image */
    margin-top: -621px;
    margin-left: 750px;
    margin-bottom: 100px;
}
.about h1{
    color: red;
    margin: auto;
    width: 22%;
    padding: 10px;
}
.about h3{
    
    color: #03A9F4;
    margin: auto;
    width: 40%;
    padding: 10px;
}
.paragraph p{
    flex: 1; /* Takes up the remaining space */
    margin-right: 50vw; /* Adds some space between the text and the image */
    margin-left: 50px;
    margin-top: 10px;
}
.content{
    display: flex;
    align-items: flex-start;    /* Align ineitems at the start of the flex contar*/
    justify-content: space-between; /* Space between the text and the image */
   
}

.Services{
    margin-top: 57px;
    background-color: black;
}
.Services h1{
  color: red;
  margin: auto;
  width: 22%;
  padding: 10px;
}

.text-center1 {
    margin: auto;
    width: 22%;
  align-items:center ;
  color: white;
}

.text-center2 {
    margin: auto;
    width: 30%;
  align-items:center ;
  color: white;
}
.text-center3 {
    margin: auto;
    width: 10%;
  align-items:center ;
  color: white;
}
.text-center4 {
  margin: auto;
  width: 6%;
align-items:center ;
color: white;
}
.aerobcs ,
  .free-weight,
  .kick-boxing{
    margin-top: 10px;
  }


.aerobcs ,
  .free-weight,
  .kick-boxing,
  .power-yoga,
  .strength,
  .zumba{
    display: inline-block;
  }

  .aerobcs img{
    height: 220px;
    max-width:100%;
  }
  .free-weight img{
    height: 220px;
    max-width:100%;
  }
  .kick-boxing img{
    height: 220px;
    max-width:100%;
  }
  .power-yoga img{
    height: 220px;
    max-width:100%;
  }
  .strength img{
    height: 220px;
    max-width:100%;
  }
  .zumba img{
    height: 220px;
    max-width:100%;
  }


  .facility{
    background-color: black;
    margin-top: 100px;
    color: white;
  }
  .facility h1{
  color: red;
  margin: auto;
  width: 27%;
  padding: 10px;
  }
.ouradvantages{
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
}

  .qualified {
    display: inline-block;
  }
  .qualified h3{
    margin-left: 100px;
    margin-top: 30px;
    font-weight: bolder;
  }
  .qualified p{
    margin-left: 100px;
    display: inline-block;
    width: 450px;
    margin-top: 10px;
  }
  .mul {
    display: inline-block;
  }
  .mul h3{
    margin-left: 100px;
    margin-top: 30px;
    font-weight: bolder;
  }
  .mul p{
    margin-left: 100px;
    display: inline-block;
    width: 450px;
    margin-top: 10px;
  }
  .change {
    display: inline-block;
  }
  .change h3{
    margin-left: 100px;
    margin-top: 30px;
    font-weight: bolder;
  }
  .change p{
    margin-left: 100px;
    display: inline-block;
    width: 450px;
    margin-top: 10px;
  }
  .towel{
    display: inline-block;
  }
  .towel h3{
    margin-left: 100px;
    margin-top: 30px;
    font-weight: bolder;
  }
  .towel p{
    margin-left: 100px;
    display: inline-block;
    width: 450px;
    margin-top: 10px;
  }
  .traning{
    display: inline-block;
  }
  .traning h3{
    margin-left: 100px;
    margin-top: 30px;
    font-weight: bolder;
  }
  .traning p{
    margin-left: 100px;
    display: inline-block;
    width: 450px;
    margin-top: 10px;
  }
  .hightech{
    display: inline-block;
  }
  .hightech h3{
    margin-left: 100px;
    margin-top: 30px;
    font-weight: bolder;
  }
  .hightech p{
    margin-left: 100px;
    display: inline-block;
    width: 450px;
    margin-top: 10px;
  }
  .drinks{
    display: inline-block;
  }
  .drinks h3{
    margin-left: 100px;
    margin-top: 30px;
    font-weight: bolder;
  }
  .drinks p{
    margin-left: 100px;
    display: inline-block;
    width: 450px;
    margin-top: 10px;
  }
  .wi-fi{
    display: inline-block;
  }
  .wi-fi h3{
    margin-left: 100px;
    margin-top: 30px;
    font-weight: bolder;
  }
  .wi-fi p{
    margin-left: 100px;
    display: inline-block;
    width: 450px;
    margin-top: 10px;
  }